/* ==========================================================================
    Variables
========================================================================== */
/* ==========================================================================
    FONTS
========================================================================== */
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Heavy';
  src: url('../fonts/Lato-Heavy/Lato-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Heavy/Lato-Heavy.woff') format('woff'), url('../fonts/Lato-Heavy/Lato-Heavy.ttf') format('truetype'), url('../fonts/Lato-Heavy/Lato-Heavy.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?87792584');
  src: url('../fonts/fontello.eot?87792584#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?87792584') format('woff'), url('../fonts/fontello.ttf?87792584') format('truetype'), url('../fonts/fontello.svg?87792584#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em; }

.icon-heart:before {
  content: '\e801'; }

/* ==========================================================================
    GENERAL STYLES
========================================================================== */
html, body {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: 'Lato-Regular', Arial, sans-serif; }

ul, p {
  margin: 0; }

a {
  text-decoration: none; }

input, button, textarea, input:active, textarea:active, button:active, :focus {
  outline: none; }

*, *:before, *:after {
  box-sizing: border-box; }

a:focus {
  outline: none; }

.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1; }

.clearfix:after {
  clear: both; }

/* ==========================================================================
    Preloader
========================================================================== */
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  min-height: 480px;
  width: 100%;
  height: 100%;
  background: #f1f1f1; }
  .header h1 {
    margin: 0; }
  .header .logo svg {
    min-width: 320px;
    max-width: 750px;
    width: 70%; }
    .header .logo svg #lettering-names path {
      fill: #81D8D0; }
  .header .loader svg path {
    fill: none;
    stroke-width: 6; }
  .header .loader svg path.loader-circlebg {
    stroke: #ddd; }
  .header .loader svg path.loader-circle {
    transition: stroke-dashoffset 0.2s;
    stroke: #81D8D0; }
  .header .inner {
    display: block;
    margin: 0 auto; }

.logo, .loader {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: default;
  pointer-events: none; }

.logo {
  top: 0;
  height: 100%;
  -webkit-transform: translate3d(0, 20%, 0);
  transform: translate3d(0, 20%, 0); }

.loader {
  bottom: 5%; }
  .loader svg {
    width: 50%; }

/* Animations
========================================================================== */
/* Initial animation of header elements */
.loading .logo, .loading .loader {
  opacity: 1;
  -webkit-animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both; }

.loading .loader {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0); } }

@keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0); } }

/* Header elements when loading finishes */
.loaded .logo, .loaded .loader {
  opacity: 1; }

.loaded .logo {
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
      transform-origin: 50% 0;
  -webkit-animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards; }

@-webkit-keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

@keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
            transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

.loaded .loader {
  -webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
          animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards; }

@-webkit-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

@keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
            transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

/* Change the color of the logo */
.loaded .logo svg path {
  transition: all 0.5s ease 0.3s; }
.loaded .logo svg #lettering-names path {
  fill: #fff; }
.loaded .logo svg #lettering-and path {
  opacity: 0.5; }

/* Header animation when loading finishes */
.loaded .header {
  -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
          animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards; }

@-webkit-keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0); } }

@keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); } }

/* Content animations */
.loaded .main h2, .loaded .main .browser, .loaded .main .browser .box, .loaded .codrops-demos {
  -webkit-animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both;
          animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both; }
.loaded .main .browser, .loaded .main .browser .box:first-child {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.loaded .main .browser .box:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s; }
.loaded .main .browser .box:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes animLoadedContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0); } }

@keyframes animLoadedContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
            transform: translate3d(0, 200px, 0); } }

/* Change layout class for header */
.layout-switch .header {
  position: absolute; }

/* No JS */
.no-js .header {
  position: relative;
  min-height: 0px; }

.no-js .header .logo {
  margin-top: 20px;
  height: 180px;
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none; }

.no-js .header .logo svg path {
  fill: #fff; }

/* ==========================================================================
    Main
========================================================================== */
.main {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  width: 100%; }

.screen {
  height: 100vh; }

.bg-we {
  background: url(../img/bg-photo.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 100%;
  background-repeat: no-repeat; }

html.mobile .bg-we-mobile {
  background: url(../img/bg-photo.jpg);
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: all 1s; }
html.mobile .bg-we {
  background: none; }

.color-overlay {
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-color: #81D8D0; }

.loaded .color-overlay {
  background-color: transparent;
  transition: all 0.7s ease-out;
  transition-delay: 0.8s; }

.bg-chevron {
  border: 15px solid #fff;
  background-image: url(../img/chevron1.svg);
  background-color: rgba(207, 205, 202, 0.8);
  background-size: 10%;
  background-repeat: repeat;
  min-height: 500px;
  overflow: hidden; }

.main-content {
  padding-top: 10vh; }

#lettering-and {
  opacity: 1; }

.infobox {
  position: relative;
  z-index: 2;
  max-width: 600px;
  width: 50%;
  height: 100%;
  margin: 0 auto; }

.infobox-content {
  display: table;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold; }
  .infobox-content .centered {
    display: table-cell;
    vertical-align: middle; }

.flowers {
  position: absolute;
  z-index: -1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: contain !important; }

.flowers-left {
  top: 60%;
  left: -290px;
  width: 599px;
  height: 631px;
  background: url(../img/flowers-left.png) no-repeat; }

.flowers-right {
  top: 50%;
  right: -300px;
  width: 492px;
  height: 632px;
  background: url(../img/flowers-right.png) no-repeat; }

.text-italic {
  font-style: italic; }

.text-big {
  color: #494949;
  font-size: 2.2em;
  line-height: 1.5;
  letter-spacing: 2px;
  font-family: 'Lato-Heavy', Arial, sans-serif; }

.text-date {
  color: #0abab5;
  font-size: 1.5em;
  line-height: 1.5;
  letter-spacing: 2px;
  font-family: 'Lato-Heavy', Arial, sans-serif; }

.countdown {
  margin-top: 60px;
  color: #949494;
  font-size: 1.1em;
  font-family: 'Lato-Heavy', Arial, sans-serif; }
  .countdown div {
    display: inline-block;
    margin: 0 15px; }
  .countdown .text-italic {
    text-transform: none;
    font-weight: normal; }
  .countdown .number {
    display: block;
    margin: 10px auto;
    font-size: 35px; }

.block-tiffany {
  background: #0abab5;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  padding: 15px; }

.block-framed {
  border: 2px solid #fff;
  padding: 100px 15px; }
  .block-framed p {
    margin-top: 15px; }

.line {
  position: relative;
  display: inline-block;
  width: 40%;
  height: 1px;
  background: #fff;
  margin-bottom: 60px; }
  .line span {
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: -33px;
    padding: 10px 15px;
    background: #0abab5;
    font-size: 25px; }

.input {
  position: relative;
  z-index: 1;
  display: block;
  margin: 30px auto;
  max-width: 350px;
  width: 80%;
  vertical-align: top;
  overflow: hidden;
  padding-top: 1em; }

.input-field {
  float: right;
  position: relative;
  display: block;
  width: 100%;
  padding: 1em 0em;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
  background: transparent;
  color: #fff;
  font-size: 1em;
  text-align: center; }

.input-field:focus {
  outline: none; }

.input-label {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1em;
  display: block;
  text-align: center;
  padding: 0;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
      transform-origin: 0 0;
  transition: -webkit-transform 0.2s 0.15s, color 1s;
  transition: transform 0.2s 0.15s, color 1s;
  transition-timing-function: ease-out; }

.input-label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%; }

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
  stroke: #fff;
  pointer-events: none;
  transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1); }

.input-field:focus + .input-label, .input-filled .input-label {
  color: #4ef5f0;
  -webkit-transform: translate3d(-42%, -1em, 0px) scale3d(0.75, 0.75, 1);
          transform: translate3d(-42%, -1em, 0px) scale3d(0.75, 0.75, 1); }

.input-field:focus ~ .graphic, .input-filled .graphic {
  stroke: #4ef5f0;
  -webkit-transform: translate3d(-66.6%, 0, 0);
          transform: translate3d(-66.6%, 0, 0); }

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 1em 2.5em;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7em;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s; }

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s; }

.btn-1 {
  border: 2px solid #fff;
  color: #fff; }

.btn-1:hover, .btn-1:active {
  color: #0abab5;
  background: #fff; }

.block-map {
  height: 100vh;
  width: 100%; }

.gm-style-iw * {
  display: block;
  width: 100%; }

.gm-style-iw h4, .gm-style-iw p {
  margin: 0;
  padding: 0; }

.gm-style-iw a {
  color: #4272db; }

.block-hashtag {
  background: #81D8D0;
  color: #fff;
  padding: 30px;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }
  .block-hashtag a {
    text-transform: none;
    text-decoration: none;
    color: #fff; }

.block-bs-demo {
  width: 100%;
  min-height: 300px;
  height: 50vh;
  background-image: url(../img/bs.jpg);
  background-position: center left;
  background-size: cover; }

.block-license {
  padding: 15px;
  color: #fff;
  background-color: #81D8D0;
  font-size: 0.7em;
  text-align: center; }

/* ==========================================================================
    Media queries
========================================================================== */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  html, body {
    font-size: 16px; } }

@media only screen and (min-width: 601px) and (max-width: 768px), only screen and (min-width: 601px) and (max-height: 580px) {
  .flowers-left {
    left: -165px;
    width: 350px;
    height: 315px; }
  .flowers-right {
    right: -175px;
    width: 250px;
    height: 315px; } }

@media only screen and (max-width: 600px) {
  html, body {
    font-size: 14px; }
  .infobox {
    width: 70%; }
  .infobox-content {
    padding: 15px; }
  .countdown {
    margin-top: 30px; }
  .flowers-left {
    left: -100px;
    width: 200px;
    height: 200px; }
  .flowers-right {
    right: -130px;
    width: 200px;
    height: 200px; }
  .block-framed {
    padding: 50px 15px; }
  .line {
    margin-bottom: 15px; } }

@media only screen and (max-width: 410px) {
  .text-big, .text-date {
    font-size: 1.2em; }
  .countdown {
    font-size: 0.9em;
    font-weight: normal; } }
