/* ==========================================================================
    FONTS
========================================================================== */
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Heavy';
  src: url('../fonts/Lato-Heavy/Lato-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Heavy/Lato-Heavy.woff') format('woff'), url('../fonts/Lato-Heavy/Lato-Heavy.ttf') format('truetype'), url('../fonts/Lato-Heavy/Lato-Heavy.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?87792584');
  src: url('../fonts/fontello.eot?87792584#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?87792584') format('woff'), url('../fonts/fontello.ttf?87792584') format('truetype'), url('../fonts/fontello.svg?87792584#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em; }

.icon-heart:before {
  content: '\e801'; }

/* ==========================================================================
    GENERAL STYLES
========================================================================== */
html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'Lato-Regular', Arial, sans-serif; }

ul, p {
  margin: 0; }

a {
  text-decoration: none; }

input, button, textarea, input:active, textarea:active, button:active, :focus {
  outline: none; }

*, *:before, *:after {
  box-sizing: border-box; }

a:focus {
  outline: none; }

ul {
  list-style-type: none;
  padding-left: 0; }

.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1; }

.clearfix:after {
  clear: both; }

.screen {
  height: 100vh; }

.bg-we {
  background: url(../img/bg-green.jpg);
  background-size: cover;
  background-attachment: fixed; }

.color-overlay {
  width: 100vw;
  height: 100vh;
  background-color: #0abab5; }

.loaded .color-overlay {
  background-color: transparent;
  transition: all 0.7s ease-out;
  transition-delay: 0.8s; }

.bg-chevron {
  border: 15px solid #fff;
  background-image: url(../img/chevron1.svg);
  background-color: rgba(207, 205, 202, 0.8);
  background-size: 160%;
  background-repeat: repeat;
  min-height: 500px;
  overflow: hidden; }

.main-content {
  padding-top: 10vh; }

.lettering {
  display: block;
  width: 70%;
  margin: 0 auto; }

#lettering-and {
  opacity: 1; }

.infobox {
  position: relative;
  z-index: 2;
  width: 600px;
  height: 100%;
  margin: 0 auto; }

.infobox-content {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 40%; }

.flowers {
  position: absolute;
  z-index: -1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.flowers-left {
  top: 60%;
  left: -290px;
  width: 599px;
  height: 631px;
  background: url(../img/flowers-left.png) no-repeat; }

.flowers-right {
  top: 50%;
  right: -300px;
  width: 492px;
  height: 632px;
  background: url(../img/flowers-right.png) no-repeat; }

.text-big {
  color: #494949;
  font-size: 34px;
  line-height: 60px;
  letter-spacing: 2px;
  font-family: 'Lato-Heavy', Arila, sans-serif; }

.text-italic {
  font-style: italic; }

.text-date {
  color: #0abab5;
  font-size: 25px;
  line-height: 60px;
  letter-spacing: 2px;
  font-family: 'Lato-Heavy', Arila, sans-serif; }

.countdown {
  margin-top: 60px;
  color: #949494;
  font-size: 16px;
  font-family: 'Lato-Heavy', Arila, sans-serif; }
  .countdown div {
    display: inline-block;
    margin: 0 15px; }
  .countdown .text-italic {
    text-transform: none;
    font-weight: normal; }
  .countdown .number {
    display: block;
    margin: 10px auto;
    font-size: 35px; }

.block-tiffany {
  background: #0abab5;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding: 15px; }

.block-framed {
  border: 2px solid #fff;
  padding: 100px 15px; }

.line {
  position: relative;
  display: inline-block;
  width: 30%;
  height: 1px;
  background: #fff;
  margin-bottom: 60px; }
  .line span {
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: -25px;
    padding: 10px 15px;
    background: #0abab5;
    font-size: 25px; }

.ip-header {
  position: fixed;
  top: 0;
  z-index: 100;
  min-height: 480px;
  width: 100%;
  height: 100%;
  background: #f1f1f1; }

.ip-header h1 {
  margin: 0; }

.ip-logo, .ip-loader {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: default;
  pointer-events: none; }

.ip-logo {
  top: 0;
  height: 100%;
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0); }

.ip-loader {
  bottom: 20%; }
  .ip-loader svg {
    width: 50%; }

.ip-header .ip-inner {
  display: block;
  margin: 0 auto; }

.ip-header .ip-logo svg {
  min-width: 320px;
  max-width: 750px;
  width: 70%; }

.ip-header .ip-logo svg #lettering-names path {
  fill: #0abab5; }

.ip-header .ip-loader svg path {
  fill: none;
  stroke-width: 6; }

.ip-header .ip-loader svg path.ip-loader-circlebg {
  stroke: #ddd; }

.ip-header .ip-loader svg path.ip-loader-circle {
  transition: stroke-dashoffset 0.2s;
  stroke: #0abab5; }

/* Content */
.ip-main {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  width: 100%; }

/* Animations */
/* Initial animation of header elements */
.loading .ip-logo, .loading .ip-loader {
  opacity: 1;
  -webkit-animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both; }

.loading .ip-loader {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0); } }

@keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0); } }

/* Header elements when loading finishes */
.loaded .ip-logo, .loaded .ip-loader {
  opacity: 1; }

.loaded .ip-logo {
  -webkit-transform-origin: 50% 30%;
  -ms-transform-origin: 50% 30%;
      transform-origin: 50% 30%;
  -webkit-animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards; }

@-webkit-keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

@keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

.loaded .ip-loader {
  -webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards; }

@-webkit-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

@keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

/* Change the color of the logo */
.loaded .ip-logo svg path {
  transition: all 0.5s ease 0.3s; }

.loaded .ip-logo svg #lettering-names path {
  fill: #fff; }

.loaded .ip-logo svg #lettering-and path {
  opacity: 0.5; }

/* Header animation when loading finishes */
.loaded .ip-header {
  -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards; }

@-webkit-keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0); } }

@keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

/* Content animations */
.loaded .ip-main h2, .loaded .ip-main .browser, .loaded .ip-main .browser .box, .loaded .codrops-demos {
  -webkit-animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both; }

.loaded .ip-main .browser, .loaded .ip-main .browser .box:first-child {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.loaded .ip-main .browser .box:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s; }

.loaded .ip-main .browser .box:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes animLoadedContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0); } }

@keyframes animLoadedContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0); } }

/* Change layout class for header */
.layout-switch .ip-header {
  position: absolute; }

/* No JS */
.no-js .ip-header {
  position: relative;
  min-height: 0px; }

.no-js .ip-header .ip-logo {
  margin-top: 20px;
  height: 180px;
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
      transform: none; }

.no-js .ip-header .ip-logo svg path {
  fill: #fff; }
