$white: #fff;
$black: #000;

/* ==========================================================================
    GENERAL STYLES
========================================================================== */

html,
body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

ul,
p {
    margin: 0;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
input:active,
textarea:active,
button:active,
:focus {
    outline: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a:focus {
    outline: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    zoom: 1;
}

.clearfix:after {
    clear: both;
}